<?xml version="1.0" encoding="UTF-8"?>
<!--
  9.30.212.192:9090/decisioncenter
 -->
<Server port="8005" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
  <Listener className="org.apache.catalina.core.AprLifecycleListener" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <!-- Global JNDI resources
       Documentation at /docs/jndi-resources-howto.html
  -->
  <GlobalNamingResources>
    <!-- Editable user database that can also be used by
         UserDatabaseRealm to authenticate users
    -->
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
     
     
     <!-- Decision Center H2 Database -->
     <Resource name="jdbc/ilogDataSource" 
		auth="Container"
		type="javax.sql.DataSource"
		driverClassName="org.h2.Driver"
		defaultTransactionIsolation="READ_COMMITTED"
		url="jdbc:h2:../data/rtsdb;LOCK_TIMEOUT=20000"
		maxTotal="20" maxIdle="30" maxWaitMillis="-1"
		username="ilog" password="ilog"
		description="Decision Center Database"  />
     <!-- Decision Server H2 Database-->
	<Resource name="jdbc/resdatasource" 
	     auth="Container"
	     type="javax.sql.DataSource"
	     driverClassName="org.h2.Driver"
		defaultTransactionIsolation="READ_COMMITTED"
	     url="jdbc:h2:../data/resdb;LOCK_TIMEOUT=20000;NON_KEYWORDS=VALUE"
		maxTotal="20" maxIdle="30" maxWaitMillis="-1"
	     username="ilog" password="ilog"
          description="Decision Server Database"  
     />
        
     <!-- Db2 Database
     <Resource name="jdbc/ilogDataSource"
          auth="Container"
          driverClassName="com.ibm.db2.jcc.DB2Driver"
          defaultTransactionIsolation="READ_COMMITTED"
          username="db2inst1"
          password="password"
          type="javax.sql.DataSource"
          url="jdbc:db2://<host>:<port>/<database_name>"
     />
     -->

     <!-- Decision Center Oracle Database
	<Resource
		defaultTransactionIsolation="READ_COMMITTED"
          name="jdbc/ilogDataSource"
          auth="Container"
          type="javax.sql.DataSource"
          driverClassName="oracle.jdbc.OracleDriver"
          url="jdbc:oracle:thin:@<host>:<port>/<dbname>"
          username="username"
          password="password"
          maxTotal="100"
          maxIdle="10"
          maxWaitMillis="10000"
          description="Decision Center Database"
          jdbcInterceptors="StatementCache(prepared=true,callable=false,max=150)"
     />
     -->
  </GlobalNamingResources>

  <Service name="Catalina">
    <Connector port="9090" protocol="HTTP/1.1"
               connectionTimeout="20000"
               redirectPort="8443"
               maxParameterCount="1000"
               URIEncoding="UTF-8"
               />

     <!--User Realm-->
     <Engine name="Catalina" defaultHost="localhost">

     <Realm className="org.apache.catalina.realm.LockOutRealm">
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
               resourceName="UserDatabase"/>
      </Realm>

     <!--  Example Combined User Database and LDAP Realm
           Works with the LDAP config from - https://www.ibm.com/docs/en/odm/8.11.0?topic=registries-task-3-importing-decision-center-database
           
     <Realm className="org.apache.catalina.realm.CombinedRealm" >
          <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
                    resourceName="UserDatabase"/>
          
          <Realm className="org.apache.catalina.realm.JNDIRealm"
          connectionURL="ldap://<host>:<port>"
          connectionName="uid=admin,ou=system"
          connectionPassword="secret"
          userSubtree="true"
          userBase="ou=users,dc=example,dc=com"
          userSearch="(uid={0})"
          roleBase="ou=groups,dc=example,dc=com"
          roleName="cn"
          roleSubtree="true"
          roleSearch="(member={0})"
          allRolesMode="AuthOnly"
          commonRole="rtsUser"
          roleNested="true"
          />
     </Realm>
     -->

      <Host name="localhost"  appBase="webapps"
            unpackWARs="true" autoDeploy="true">

        <!-- Access log processes all example.
             Documentation at: /docs/config/valve.html
             Note: The pattern used is equivalent to using pattern="common" -->
        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
               prefix="localhost_access_log" suffix=".txt"
               pattern="%h %l %u %t &quot;%r&quot; %s %b" />

			<!--Decision Center Context-->
			<Context docBase="decisioncenter-api" path="/decisioncenter-api" reloadable="false">
				<ResourceLink global="jdbc/ilogDataSource" name="jdbc/ilogDataSource" type="javax.sql.DataSource"/>
			</Context>

			<Context docBase="decisioncenter" path="/decisioncenter" reloadable="false">
				<ResourceLink global="jdbc/ilogDataSource" name="jdbc/ilogDataSource" type="javax.sql.DataSource"/>
			</Context>
          
			<!--RES Context-->
         	<Context path="/res"
                    docBase="res.war"
                    debug="0"
                    reloadable="true"
                    crossContext="true">
               <Logger className="org.apache.catalina.logger.FileLogger"
                    prefix="localhost_res_log."
                    suffix=".txt" timestamp="true"/>
               <ResourceLink name="jdbc/resdatasource"
                    global="jdbc/resdatasource"
                    type="javax.sql.DataSource"/>
         	</Context>

			<!--Decision Server Context-->
			<Context path="/DecisionService" docBase="DecisionService.war" debug="0" 
				reloadable="true" crossContext="true">
						<Logger className="org.apache.catalina.logger.FileLogger" 
				prefix="localhost_htds_log." suffix=".txt" timestamp="true"/>
						<ResourceLink name="jdbc/resdatasource" global="jdbc/resdatasource" 
				type="javax.sql.DataSource"/>
			</Context>

			<!--Decision Runner Context-->
			<Context path="/DecisionRunner" 
				docBase="DecisionRunner.war" 
				debug="0" 
				reloadable="true" 
				crossContext="true">
				<Logger className="org.apache.catalina.logger.FileLogger" 
						prefix="localhost_res_log." 
				suffix=".txt" timestamp="true"/>
				<ResourceLink name="jdbc/resdatasource" 
				global="jdbc/resdatasource" 
				type="javax.sql.DataSource"/>
			</Context> 

          
      </Host>
    </Engine>
  </Service>
</Server>
